body {
  color: black;
  background-color: #FFE390;
  font-family: 'Raleway', sans-serif;
}

.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}

.text-slim {
  font-weight: 200;
}
